
.btn{
    margin-left: 20px;
    margin-right: 20px;
}



.formcss{
	margin-top:150px;
    width:300px;
    background-color:rgba(50,50,50,0.5);
}

body{
	background-image:url(../image/v2-bda46a1f46f500084c0995b1f9392312_hd.jpg);
	 background-size: cover;
}
h2{
	color:#fff;
}